.footer {
  display: block;
  text-align: center;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  bottom: -30px;
}

.profile a {
  text-decoration: none;
  color: #036ec5;
}

.code a {
  text-decoration: none;
  color: #036ec5;
}
